{% extends "layout.html" %}

{% block title %}Lisää profiilikuva{% endblock %}

{% block content %}
    <form action="/add_image" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <p>
            Kuva: <input type="file" name="image" accept=".jpg" />
        </p>
        <input type="submit" value="Lähetä" />
    </form>
    <p>
        <a href="/user/{{ session.user_id }}">Takaisin käyttäjäsivulle</a>
    </p>
{% endblock %}