<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa tapahtumaa</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <p class="info">
    {{ message }}
  </p>
  {% endfor %}

  <h2>Muokkaa tapahtumaa</h2>

  <form action="/edit/{{ event.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Otsikko:<br />
      <input type="text" name="title" value="{{ event.title }}" maxlength="30" required />
    </p>
    <p>
      Päivämäärä:<br />
      <input type="date" id="date" name="date" value="{{ event.date }}" required />
    </p>
    <p>
      Pelaajien määrä:<br />
      <input type="number" name="num_players" value="{{ event.num_players }}" min="1" max="100" required />
    </p>
    <p>
      Kuvaus:<br />
      <textarea name="description" rows="5" cols="40" maxlength="200" required>{{ event.description }}</textarea>
    </p>
    <p>
      Peligenre:
      <br />
      <select name="genre" id="genre" required>
        {% for option in all_genres %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>