<!DOCTYPE html>
<html>

<head>
  <title>Lautapeliseura</title>
</head>

<body>
  <p>
  {% if session.user_id %}
  <a href="/logout">Kirjaudu ulos</a>
  {% else %}
  <a href="/register">Rekisteröidy</a>
  <p>Kirjaudu sisään</p>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  </p>

  <hr />
  <h1>
    Tapahtumat
  </h1>
  {% for event in events %}
  <ul>
    <p>
    <a href="/event/{{ event.id }}">{{ event.title }}</a>
    {{ event.date }}
    </p>
    <br />
  </ul>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi tapahtuma</h2>

  <form action="/new_event" method="post">
    <p>
      Otsikko:<br />
      <input type="text" name="title" />
    </p>
    <p>
      Päivämäärä:<br />
      <input
        type="date"
        id="date"
        name="date"
        />
    </p>
    <p>
      Pelaajien määrä:<br />
      <input type="text" name="num_players" />
    </p>
    <p>
      Kuvaus:<br />
      <textarea name="description" rows="5" cols="40"></textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}
</body>

</html>