{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}
  {% if query %}
  <hr />
  <h2>Tulokset</h2>

  {% if results %}
  <ul>
    {% for result in results %}
    <li>
      <a href="/event/{{ result.event_id }}">
        {{ result.title }}
      </a>
      {{ result.genre }}
      {{ result.date }}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    Ei tapahtumia löytynyt.
  </p>
  {% endif %}
  {% endif %}

  <p>
    <a href="/">Etusivulle</a>
  </p>
{% endblock %}